.muiSelect {
    text-align: center !important;
}

.menuButton {
    background-color: #0494d9;
}

.menuButton:hover {
    background-color: #23a2ef;
}

.disabledButton {
    background-color: #87909f;
}

.disabledButton:hover {
    background: #8D99AE;
}