.mediaContainer {
  background-color: #Ef233C;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 740px;
  height: 540px;
  border-radius: 25px;
  box-shadow: 25px 15px #D90429;
}

.media {
  width: 640px;
  height: 480px;
  border-radius: 25px;
  /* display: none; */
}

.canvas {
  width: 640px;
  height: 480px;
  border-radius: 25px;
}