.home {
    padding: 20px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridContainer {
    padding: 24px;
    margin: 0px;
    flex-direction: column !important;
    justify-content: space-between;
}

.backButton {
    position: absolute;
    left: 50px;
    top: 50px;
    margin-bottom: 16px;
}

.disabledButton {
    background-color: #87909f;
}

.disabledButton:hover {
    background: #8D99AE;
}